{% extends 'base.html' %}

{% block content %}
  <h1>Council Formal Hansards - {{ parser.uid }}</h1>
  <p>
    <a href="{{ object.url }}">Original document</a>
  </p>
  <p>
    <a href="{% url 'raw_hansard_source' pk=object.id %}">Parsed source</a>
  </p>
  <p>
    <a href="{% url 'error_report' %}?url={{ request.path }}">Report an error on this page</a>
  </p>
  <h2>Sections</h2>
  <ol>
  	<li><a href="#ATTENDANCE">ATTENDANCE</a></li>
    {% if parser.sections %}
     {% for section in parser.sections%}
      <li><a href="#{{section}}">{{ section }}</a></li>
     {% endfor %}
    {% endif %}
  </ol>
  <hr></hr>
  <a name="ATTENDANCE"></a>
  <h2>ATTENDANCE</h2>
  {% if president %}
  	<h3>PRESIDENT:</h3><a href="{% url 'raw_member' pk=president.1.1.id %}"><b>{{ president.0.1}}</b></a>
  {% elif parser.president %}
    <h3>PRESIDENT:</h3><b>{{ parser.president.1}}</b> ({{ parser.president.0}})
  {% endif %}
  
  {% if parser.members_present%}
  	<h3>MEMBERS PRESENT:</h3>
  	{% for member in parser.members_present%}
  		<b>{{ member.1}}</b>  ({{ member.0}})<br />
  	{% endfor%}
  {% endif%}
  
  {% if parser.members_absent%}
  	<h3>MEMBERS ABSENT:</h3>
  	{% for member in parser.members_absent%}
  		<b>{{ member.1}}</b>  ({{ member.0}})<br />
  	{% endfor%}
  {% endif%}
  
  {% if parser.public_officers%}
  	<h3>PUBLIC OFFICERS ATTENDING:</h3>
  	{% for officer in parser.public_officers%}
  		<b>{{ officer.0}}, {{ officer.1}}</b><br />
  		<i>{{ officer.2}}</i><br />
  	{% endfor %}
  {% endif %}
  
  {% if parser.clerks %}
  	<h3>CLERKS IN ATTENDANCE:</h3>
  	{% for clerk in parser.clerks%}
  		<b>{{ clerk.0}}</b>, <i>{{ clerk.1}}</i><br />
  	{% endfor%}
  {% endif %}
  
  {% if parser.written_questions %}
  <hr></hr>
  <a name="WRITTEN ANSWERS TO QUESTIONS"></a>
  	<h3>WRITTEN ANSWERS TO QUESTIONS</h3>
  	<ul>
  	{% for question in parser.written_questions %}
  		<li><h4> {{ question.0 }} - {{ question.1 }}</h4>
  		<p>
  		<ol>
  		{% for speech in question.2%}
  			<br/> <b>{{speech.0}}</b> wrote: {{speech.1|safe}}<br/>
  		{% endfor %}
  		</ol>
  		</p>
  		</li>
  	{% endfor %}
  	</ul>
  {% endif %}
  
  
  
{% endblock content %}
